
*.cookies

*.xdk

*.xdke

app/platforms/*

app/plugins/*

app/merges/*

app/hooks/*

app/platforms/android/res/xml/config.xml

app/platforms/ios/www/cordova_plugins.js

app/platforms/ios/www/css/style.css

app/platforms/ios/www/index.html

app/platforms/ios/www/js/app.js

app/platforms/ios/www/js/controllers.js

app/platforms/ios/www/js/services.js

app/plugins/android.json

app/plugins/ios.json

app/platforms/android/AndroidManifest.xml

app/platforms/android/assets/www/cordova_plugins.js

app/platforms/android/assets/www/css/style.css

app/platforms/android/assets/www/js/app.js

app/platforms/android/assets/www/js/controllers.js

app/platforms/android/assets/www/js/services.js

.idea/dictionaries/aaronrussell.xml

.idea/workspace.xml

app/platforms/android/AndroidManifest.xml

app/platforms/android/assets/www/cordova_plugins.js

app/platforms/android/assets/www/css/style.css

app/platforms/android/assets/www/js/app.js

app/platforms/android/assets/www/js/controllers.js

app/platforms/android/assets/www/js/services.js

.idea/dictionaries/aaronrussell.xml

app/platforms/ios/www/css/style.css

app/platforms/ios/www/index.html

app/platforms/ios/www/js/app.js

app/platforms/ios/www/js/controllers.js

app/platforms/ios/www/js/services.js

app/plugins/android.json

app/plugins/ios.json

app/platforms/ios/www/cordova_plugins.js

app/platforms/android/res/xml/config.xml

.idea/workspace.xml
