<ion-content scroll="false">
    <div class="row text-center">
      <div class="col"><a class="button h1 button-icon icon ion-location main-logo"></a></div>
    </div>
    <button class="button button-full button-positive">
      <i class="icon icon-left ion-social-facebook-outline"></i> Login with Facebook
    </button>
    <button class="button button-full button-calm">
      <i class="icon icon-left ion-social-twitter-outline"></i> Login with Twitter
    </button>
    <button class="button button-full button-assertive">
      <i class="icon icon-left ion-social-googleplus-outline"></i> Login with Google+
    </button>
    <button ui-sref="login" class="button button-full button-dark">
      <i class="icon icon-left ion-location"></i> Login with Comrade
    </button>
    
</ion-content>
