<!--responsive menu placeholder-->
<div id="followMenu"><div class="clear"></div></div>

<!--BEGIN TOP CONTAINER (slider&nav)-->
<section id="topContainer">
    <div id="navigationWrap">
        <div class="row">
            <div class="three-col"><img src="img/logo.png" alt="Delicious Mint"/></div>
            <div class="nine-col last-col menuWrap">
                <ul class="mainMenu">
                    <li><a href="#aboutContainer">About</a></li>
                    <li><a href="#featureContainer">Features</a></li>
                    <li><a href="#betaContainer">Beta</a></li>
                    <li><a href="#screensContainer">Screens</a></li>
                </ul>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
           </div>
       </div>

       <!-- BEGIN SLIDER -->
    <div id="sliderWraper" class="row">
        <div id="layerslider" style="width: 1170px;max-width: 1170px; height: 690px;">
            <!-- first slide -->
            <div class="ls-slide">
                <img src="img/demoimg/slider1.png" alt="Phone" class="ls-l" style="top: 30px; left: 0;"
                    data-ls="offsetxin: 0; offsetxout : 0; offsetyin: 100; durationin: 2000" />

                <p class="ls-l sliderText" style="top: 50px; left: 550px;"
                    data-ls="offsetxin: 0; offsetxout : 0; offsetyin: 50; durationin: 2000;">
                <span>Comrade</span> unite<br/>your social friends</p>

                <a href="#aboutContainer" class="buttonBig ls-l" style="top: 300px; left: 550px;"
                    data-ls="offsetxin: 0; offsetxout: 0; delayin: 300; offsetyin: 100; durationin: 2000;">LEARN MORE</a>

                <a href="#betaSignup" class="buttonBig ls-l" style="top: 300px; left: 750px;"
                    data-ls="offsetxin: 0; offsetxout: 0; delayin: 300; offsetyin: 100; durationin: 2000;">BETA SIGNUP</a>
            </div>
            <!-- second slide -->
            <div class="ls-slide">
                <img src="img/demoimg/slider2.png" alt="Phone" class="ls-l" style="top: -40px; left: 0;"
                    data-ls="offsetxin: 0; offsetxout : 0; offsetyin: 100; durationin: 2000" />

                <p class="ls-l sliderText" style="top: 50px; left: 550px;"
                    data-ls="offsetxin: 0; offsetxout : 0; offsetyin: 50; durationin: 2000;">
                <span>Getting Directions</span><br/>just got easier</p>

                <a href="#aboutContainer" class="buttonBig ls-l" style="top: 300px; left: 550px;"
                    data-ls="offsetxin: 0; offsetxout: 0; delayin: 300; offsetyin: 100; durationin: 2000;">LEARN MORE</a>

                <a href="#betaSignup" class="buttonBig ls-l" style="top: 300px; left: 750px;"
                    data-ls="offsetxin: 0; offsetxout: 0; delayin: 300; offsetyin: 100; durationin: 2000;">BETA SIGNUP</a>
            </div>
            <!-- third slide -->
            <div class="ls-slide">
                <img src="img/demoimg/slider3.png" alt="Phone" class="ls-l" style="top: 0px; left: 0;"
                    data-ls="offsetxin: 0; offsetxout : 0; offsetyin: 100; rotatein: 0; durationin: 2000" />

                <p class="ls-l sliderText" style="top: 50px; left: 550px;"
                    data-ls="offsetxin: 0; offsetxout : 0; offsetyin: 50; durationin: 2000;">
                <span>Privacy</span><br/>is our #1 focus</p>

                <a href="#aboutContainer" class="buttonBig ls-l" style="top: 300px; left: 550px;"
                    data-ls="offsetxin: 0; offsetxout: 0; delayin: 300; offsetyin: 100; durationin: 2000;">LEARN MORE</a>

                <a href="#betaSignup" class="buttonBig ls-l" style="top: 300px; left: 750px;"
                    data-ls="offsetxin: 0; offsetxout: 0; delayin: 300; offsetyin: 100; durationin: 2000;">BETA SIGNUP</a>
            </div>
        </div>
    </div>
    <!-- END SLIDER -->
    <div class="clear"></div>
</section>
<!--END TOP CONTAINER-->


<!--BEGIN CONTENT WRAPPER-->
<div id="contentWrapper">
<!--add your own sections in this div-->

    <!--ABOUT CONTAINER-->
    <section id="aboutContainer" class="section-80-130 whiteBgSection">
        <img class="triangleTop" src="img/tri-white-top.png" alt="" />
        <div class="row">

            <div class="three-col">
                <div class="iconColWrap">
                    <i class="icon ion-ios7-people-outline"></i>
                    <h2>Stay Social</h2>
                    <p>We created Comrade to keep you in touch with the events and people that matter most to you, while giving you what you want, a way out of social media.</p>
                </div>
            </div>

            <div class="three-col">
                <div class="iconColWrap">
                    <i class="icon ion-ios7-locked-outline"></i>
                    <h2>Privacy and Security</h2>
                    <p>Rest assured Comrade will never store any of your social media information to sell it off. Actually we dont even care what your first name is.</p>
                </div>
            </div>

            <div class="three-col">
                <div class="iconColWrap">
                    <i class="icon ion-ios7-chatboxes-outline"></i>
                    <h2>Encrypted Messaging</h2>
                    <p>Comrade offers <u>encrypted session messaging</u>, what this is is a secured connection between two Comrade users that not even our servers can read what your saying. Insuring you the user that your private messages, are truly private.</p>
                </div>
            </div>

            <div class="three-col last-col">
                <div class="iconColWrap">
                    <i class="fa fa-ban"></i>
                    <h2>Free with no ads</h2>
                    <p>Comrade promises to always remain FREE of charge and to never shove Ads in your face.</p>
                </div>
            </div>

            <div class="clear"></div>
        </div>
    </section>
    <!--END ABOUT CONTAINER-->

    <!--FEATURES CONTAINER-->
    <section id="featureContainer" class="section-80-80 grayBgSection">
        <h1 class="sectionTitle">Features</h1>
        <div class="titleSeparator"></div>
        <h3 class="sectionDescription">Comrade has a lot to offer, to everyone from social users to non social users.</h3>
        <div class="separator80"></div>
        <div class="row">

            <!--left side icons-->
            <div class="four-col">
                <div class="iconRightColWrap">
                    <i class="icon ion-ios7-calendar-outline"></i>
                    <div class="rightColTextWrap">
                        <h2>Events</h2>
                        <p>Keeping you up to date with all your social events</p>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="iconRightColWrap">
                    <i class="icon ion-ios7-location-outline"></i>
                    <div class="rightColTextWrap">
                        <h2>Places</h2>
                        <p>Share your favorite places with any of your social media friends or Comrades</p>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="iconRightColWrap">
                    <i class="icon ion-ios7-person-outline"></i>
                    <div class="rightColTextWrap">
                        <h2>Comrades</h2>
                        <p>Comrade unites your social media friends into one viewable, interactable Comrades list.</p>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="iconRightColWrap">
                    <i class="icon ion-ios7-chatbubble-outline"></i>
                    <div class="rightColTextWrap">
                        <h2>Messages</h2>
                        <p>Get access to most of your social media messages from Twitter, LinkedIn and more!</p>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="iconRightColWrap">
                    <i class="icon ion-ios7-bolt-outline"></i>
                    <div class="rightColTextWrap">
                        <h2>FastChat</h2>
                        <p>FastChat is what allows users to quickly get in touch with there social media friends without the use of the social media website.</p>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>

            <!--phone image-->
            <div class="four-col" style="text-align: center;">
                <img src="img/demoimg/phone.png" alt="iOS" />
            </div>

            <!--right side icons-->
            <div class="four-col last-col">
                <div class="iconLeftColWrap">
                    <i class="icon ion-ios7-location-outline"></i>
                    <div class="leftColTextWrap">
                        <h2>Invite</h2>
                        <p>Stop giving bad directions, just swipe a friend, hit invite and let them be on there way with the proper directions.</p>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="iconLeftColWrap">
                    <i class="icon ion-pinpoint"></i>
                    <div class="leftColTextWrap">
                        <h2>Find</h2>
                        <p>Easily request any of your friends location with the swipe of a contact and tap of a button</p>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="iconLeftColWrap">
                    <i class="icon ion-ios7-chatboxes-outline"></i>
                    <div class="leftColTextWrap">
                        <h2>Instant Messaging</h2>
                        <p>Instant Messaging has never been so private and secure</p>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="iconLeftColWrap">
                    <i class="icon ion-ios7-videocam-outline"></i>
                    <div class="leftColTextWrap">
                        <h2>Video Chat</h2>
                        <p>Stay in touch with Comrade's real-time Video Chat</p>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="iconLeftColWrap">
                    <i class="icon ion-ios7-telephone-outline"></i>
                    <div class="leftColTextWrap">
                        <h2>Voice Chat</h2>
                        <p>With Comrades real-time voice chat system, its like calling your friends, without using your precious minutes </p>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
            <div class="clear"></div>
        </div>
        <img class="triangleBottom" src="img/tri-gray-bot.png" alt="" />
    </section>
    <!--END FEATURES CONTAINER-->


    <!--REVIEW CONTAINER-->
    <section id="betaContainer" class="section-160-160 textureBgSection" style="background-image: url('img/bg-texture1.jpg');">
        <h1 id="betaSignup" class="sectionTitle">Beta</h1>
        <div class="titleSeparator"></div>
        <h3 class="sectionDescription">Beta starts July 20th! Don't miss out!</h3>
        <h3 class="sectionDescription">All participating Beta testers get all the extra bells and whistles for free!</h3>
        <!--reviews wrapper-->
        <div class="separator80"></div>
        <div class="row">
            <div class="seven-col prefix-three">
                    <input type="email" name="betaEmail" id="betaEmail" placeholder="Your Email..." required/>
                    <button id="submitBeta">Beta Signup</button>

                <p id="formSubmitMessage"></p>
            </div>

            <div class="clear"></div>
        </div>
        <div id="revsNavi"></div>
    </section>
    <!--END REVIEW CONTAINER-->

    <!--SCREENS CONTAINER-->
    <section id="screensContainer" class="section-80-130 whiteBgSection">
        <img class="triangleTop" src="img/tri-white-top.png" alt="" />

        <h1 class="sectionTitle">Screens</h1>
        <div class="titleSeparator"></div>
        <h3 class="sectionDescription">See what's included in the App</h3>
        <div class="separator80"></div>

        <!--screens filter buttons-->
        <div class="row screensFilters">
            <div class="filter-options">
                <button class="btn" data-group="all">All Screens</button>
                <button class="btn" data-group="comrades">Comrades</button>
                <button class="btn" data-group="events">Events</button>
                <button class="btn" data-group="places">Places</button>
                <button class="btn" data-group="messages">Messages</button>
            </div>
        </div>

        <!--Screens images-->
        <div id="screensViewportWrap" class="row">
            <div id="screensLeftAr" class="screensArrows"><i class="fa fa-angle-left"></i></div>
            <div id="screensOfHide">
                <div id="screensWrapOuter">
                    <div id="screensWrap">

                        <div class="screen-item" data-groups='["main", "all"]'>
                            <a href="img/screens/Dashboard.jpg" data-lightbox="screens1" data-title="Delicious caption"><img src="img/screens/Dashboard.jpg" alt="SCREEN" class="screenImg" /></a>
                            <span>Dashboard</span>
                        </div>

                        <div class="screen-item" data-groups='["comrades", "all"]'>
                            <a href="img/demoimg/screen2big.jpg" data-lightbox="screens2" data-title="Delicious caption"><img src="img/screens/Comrades.jpg" alt="SCREEN" class="screenImg" /></a>
                            <span>Comrades</span>
                        </div>

                        <div class="screen-item" data-groups='["events", "all"]'>
                            <a href="img/demoimg/screen3big.jpg" data-lightbox="screens3" data-title="Delicious caption"><img src="img/screens/Events.jpg" alt="SCREEN" class="screenImg" /></a>
                            <span>Events</span>
                        </div>

                    </div>
                </div>
            </div>
            <div id="screensRightAr" class="screensArrows"><i class="fa fa-angle-right"></i></div>
        </div>
    </section>
    <!--END SCREENS WRAPPER-->


    <!--BEGIN GET APP CONTAINER-->
    <section id="getappContainer" style="background-image: url('img/bg-texture2.jpg');">

    </section>
    <!--END GET APP WRAPPER-->


    <!--BEGIN FOOTER WRAPPER-->
    <section id="footerContainer" class="section-160-30 footer">
        <div class="separator80"></div>
        <a href="#"><img src="img/logo.png" alt="Comrade App"/></a>
        <div class="separator80"></div>

        <a href="https://www.facebook.com/comradeapp"><i class="fa fa-facebook"></i></a>

        <div class="separator80"></div>
        <p>Copyright &copy; 2014<br/> Comrade is a <a href="#">TeknoloGenie</a> product.
    </section>
    <!--END FOOTER WRAPPER-->

</div>
<!--END CONTENT WRAPPER-->

<div id="responsiveMenuToggle"><i class="fa fa-bars"></i></div>